<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    <!--
				条件渲染：
							1.v-if
										写法：
												(1).v-if="表达式"
												(2).v-else-if="表达式"
												(3).v-else
										适用于：切换频率较低的场景。
										特点：不展示的DOM元素直接被移除。
										注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

							2.v-show
										写法：v-show="表达式"
										适用于：切换频率较高的场景。
										特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉

							3.备注：使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
		 -->
    <!--v-show要能转换为一个布尔值 v-show条件渲染-->
    <h2 v-show="a">欢迎来到{{ name }}</h2>
    <h2 v-show="1===1">欢迎来到{{name}}</h2>
    <button @click="a = !a" > {{a ? '隐藏' : '显示'}}</button>
    <hr>
    <!--使用v-if来进行条件渲染 -->
    <h2 v-if="n===1">欢迎来到{{ name }}</h2>
    <!--v-if v-else-if v-else记住不能打断，要连着写-->
    <h2 v-else="n>3">欢迎来到{{ name }}</h2>
    <h2>当前n的值是 {{ n }}</h2>
    <button @click="n++">点我n+1</button>
    <hr>
    <h2 v-if="n===1">angular</h2>
    <h2 v-else-if="n===2">react</h2>
    <h2 v-else-if="n===3">vue js</h2>
    <h2 v-else>not found</h2>
    <hr>
    <!--v-if与template的配合使用-->
    <template v-if="n===1">
        <h2>你好</h2>
        <h2>北京</h2>
        <h2>中国🇨🇳</h2>
    </template>
</div>

<script type="text/javascript">
    new Vue({
        el: '#root',
        data: {
            name: 'Beijing',
            n: 0,
            a: 0
        }
    })
</script>
</body>
</html>